<html>
	<head>
	</head>
	<body>
	<h1 style="color:darkseagreen;">Hello World 👋 It's Alex and Miriam</h1>

	<p>This is our animal illustrator tool for SSE Lab 2</p>
	
	<div class="centeredflex"><iframe src="https://giphy.com/embed/2Ur84DnM4Q4EJW04Vx" width="480" height="269" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/supersimple-farm-farmer-animals-2Ur84DnM4Q4EJW04Vx">via GIPHY</a></p>
	</div>
	<p>Please input into the form your name and which of the following animals you want shown</p>
	<ul>
		<li>Goat</li>
		<li>Dog</li>
		<li>Donkey</li>
		<li>Cow</li>
		<li>Lion</li>
	</ul>


	<form action="/submit" method="post">
		<label for="namefield">Name:</label>
		<input type="text" id="namefield" name="name">
		<label for="animalfield">Animal:</label>
		<input type="text" id="animalfield" name="animal">
		<input type="submit" value="Submit">
	</form>

	</body>
</html>
